/* 
    font-family: 'Monoton';
    font-family: "Special Elite";
     */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    color: #F7F7F7;
}

.about-me-page-container {
    background-color: #010921;
}

.header-container {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #B2D2DD;
}

.header {
    /* border: 3px solid blue; */
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}

.header-links-container {
    /* border: 3px solid yellow; */
    /* display: flex; */
    /* align-items: center; */
}

.header-links {
    /* border: 3px solid purple; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.header-links a {
    font-family : "Special Elite", 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(0, 100%, 100%);
    /* color: black; */
    font-size: 30px;
    /* -webkit-text-fill-color: rgb(255, 68, 0); */
   /* -webkit-text-stroke-width: 1px; */
   /* -webkit-text-stroke-color: black; */
   /* background-color: hsla(0, 0%, 50%, .9); */
   color: black;
}

.about-me {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    margin: 50px 0 100px;
}

.about-me-text {
    /* border: 3px solid blue; */
    font-size: 45px;
}

.main-content-container {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    margin: 100px;

}

.main-content {
    /* border: 3px solid blue; */
    display: flex;
    width: 1200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.summary-text-container {
    /* border: 3px solid yellow; */
    display: flex;
    align-items: center;
    height: fit-content;
    flex: 1;
    width: 100%;
    height: 100%;
}

.summary-text {
    /* border: 3px solid brown; */
    padding: 0 200px 200px 0;
    width: 100%;
    height: 100%;
}

.summary-img {
    /* border: 3px solid black; */
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
}

.summary-img img {
    width: 100%;
    height: 100%;
    display: flex;
}

.semester-future-container {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
    /* min-height: 100%; */
}

.current-future {
    /* border: 3px solid blue; */
    width: 100%;
    max-width: 1200px;
    height: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.text-img-box {
    /* border: 3px solid yellow; */
    display: flex;
    flex: 1;
    display: flex;
    /* align-items: stretch; */
    background-color: #F7F7F7;
}

.text-container {
    /* border: 3px solid green; */
    flex: 1;
}

.text-box {
    /* border: 3px solid darkblue; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title {
    /* border: 3px solid hotpink; */
}

.text {
    /* border: 3px solid crimson; */
    flex: 1;
}

.img-container {
    /* border: 3px solid purple; */
    flex: 1;
    min-height: 100%;
    
}

.text-img-box img {
    /* border: 3px solid black; */
    flex: 1;
    width: 100%;
    min-height: 100%;
    object-fit: cover; /* Makes sure the image takes up all the space*/
}

.top-box .text-container {
    order: 2;
}

.future-goals img {
    order: 1;
}

.text-box .title,
.text-box .text {
    color: #010921;
}
