/* 
    font-family: 'Monoton';
    font-family: "Special Elite";
     */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.header-container {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    background-image: url(../img/inception-header.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    /* border: 3px solid blue; */
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}

.header-links-container {
    /* border: 3px solid yellow; */
}

.header-links {
    /* border: 3px solid purple; */
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.header-links a {
    font-family : "Special Elite", 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(0, 100%, 100%);
    /* color: black; */
    font-size: 30px;
    /* -webkit-text-fill-color: rgb(255, 68, 0); */
   /* -webkit-text-stroke-width: 1px; */
   /* -webkit-text-stroke-color: black; */
   /* background-color: hsla(0, 0%, 50%, .9); */
}

.header-text-container {
    /* border: 3px solid yellow; */
    margin: auto 0px; /* Distributes any extra space evenly between the top and bottom */
}

.header-text {
    /* border: 3px solid purple; */
}

.secondary-text {
    font-family: "Special Elite", 'Times New Roman', Times, serif;
}

.main-text {
    font-family: "Monoton", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    color: hsl(0, 100%, 50%)
}

.content-section {
    /* border: 3px solid red; */
    background-color: #1b1d1e;
    display: flex;
    justify-content: center;
}

.content-container {
    /* border: 3px solid blue; */
    height: 500px;
    background-color: #393d3f;
    display: flex;
    align-items: center;
}

.content {
    /* border: 3px solid palegreen; */
    display: flex;
    width: 1200px;
    height: fit-content;
    align-items: stretch;
    padding: 20px;
    gap: 20px;
}

.content-img {
    /* border: 3px solid yellow; */
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: stretch;
}

.content-img img{
    /* border: 3px solid darkred; */
    height: 400px;
    width: auto;
}

.summary-container {
    /* border: 3px solid black; */
    /* height: fit-content; */
    flex: 1;
}

.summary {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    height: 100%;
}

.summary-title {
    /* border: 3px solid orange; */
    color: white;
    font-size: 30px;
}

.summary-text {
    /* border: 3px solid indigo; */
    color: white;
    font-size: 19px;
}