/* 
    font-family: 'Monoton';
    font-family: "Special Elite";
     */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.header-container {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    background-image: url(../img/inception-header.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    /* border: 3px solid blue; */
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}

.header-links-container {
    /* border: 3px solid yellow; */
    /* display: flex; */
    /* align-items: center; */
}

.header-links {
    /* border: 3px solid purple; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.header-links a {
    font-family : "Special Elite", 'Times New Roman', Times, serif;
    text-decoration: none;
    color: hsl(0, 100%, 100%);
    /* color: black; */
    font-size: 30px;
    /* -webkit-text-fill-color: rgb(255, 68, 0); */
   /* -webkit-text-stroke-width: 1px; */
   /* -webkit-text-stroke-color: black; */
   /* background-color: hsla(0, 0%, 50%, .9); */
}

.header-text-container {
    /* border: 3px solid yellow; */
    margin: auto 0px; /* Distributes any extra space evenly between the top and bottom */
}

.header-text {
    /* border: 3px solid purple; */
}

.secondary-text {
    font-family: "Special Elite", 'Times New Roman', Times, serif;
}

.main-text {
    font-family: "Monoton", Verdana, Geneva, Tahoma, sans-serif;
    /* border: 3px solid green; */
    width: fit-content;
    font-size: 100px;
    color: hsl(0, 100%, 50%);
    padding-left: 50px;
}

.summary-container {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    background-color: #010921;
}

.summary {
    /* border: 3px solid blue; */
    width: 1200px;
    display: flex;
    align-items: center;
}

.gif-container {
    /* border: 3px solid yellow; */
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: -100px;
}

.gif-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 600px;
}

.summary-text-container {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    gap: 10px;
    height: fit-content;
    background-color: #9BA8AA;
}

.summary-title {
    /* border: 3px solid green; */
    font-size: 30px;
}

.summary-text {
    /* border: 3px solid orange; */
    flex: 1;
    font-size: 20px;
}

.summary-title,
.summary-text {
    color: #010921
}